<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.path"
     routerLinkActive="active-link"
  > {{link.label}} </a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
