<!-- TODO: figure out if the <nav> should go inside of a <header> element. -->
<nav class="docs-navbar-header" aria-label="Top Toolbar">
  <a mat-button class="docs-button" routerLink="/" aria-label="Angular Material">
    <img class="logo"
         matButtonIcon
         src="../../../assets/img/angular-white-transparent.svg"
         alt="angular"
         aria-hidden="true">
    <span>Authumn Angular</span>
  </a>
  <a mat-button class="docs-navbar-hide-small docs-button"
     *ngFor="let key of sectionKeys"
     [routerLink]="sections[key].routerLink"
     routerLinkActive="docs-navbar-header-item-selected">{{sections[key].name}}</a>
  <div class="flex-spacer"></div>
  <theme-picker></theme-picker>
  <a mat-button class="docs-button docs-navbar-hide-small" href="https://github.com/angular/components"
     aria-label="GitHub Repository">
    <img class="logo"
         matButtonIcon
         src="../../../assets/img/github-circle-white-transparent.svg"
         alt="angular"
         aria-hidden="true">
    GitHub
  </a>
  <a mat-icon-button class="docs-button docs-navbar-show-small"
     href="https://github.com/angular/components" aria-label="GitHub Repository">
    <img class="logo docs-navbar--github-logo"
         matButtonIcon
         src="../../../assets/img/github-circle-white-transparent.svg"
         alt="angular"
         aria-hidden="true">
  </a>
</nav>
<nav class="docs-navbar docs-navbar-show-small" aria-label="Section Nav Bar">
  <a mat-button class="docs-navbar-link"
    *ngFor="let key of sectionKeys"
    [routerLink]="sections[key].routerLink">{{sections[key].name}}</a>
</nav>
