@use '@angular/material' as mat;
@use './app-theme';
@use './styles/general';

// Define the light theme.
$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent
  ),
  typography: mat.define-typography-config(),
));

// Include material core styles.
@include mat.core();

@include mat.all-component-themes($theme);
@include app-theme.theme($theme);
